<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants/search" method="GET">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="請輸入餐廳或分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">

    {{#each restaurants}}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card mb-3">
        <a href="/restaurants/{{ this._id }}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ this.image }}"
              alt="{{ this.name }}">
          </div>
        </a>
        <div class="card-body p-3">
          <h6 class="card-title mb-1">{{ this.name }}</h6>
          <div class="restaurant-category mb-1">
            <i class="fas fa-utensils pr-2 fa-lg"></i>{{ this.category }}
          </div>
          <span class="badge badge-pill badge-danger font-weight-normal">
              {{ this.rating }}
            <i class="fas fa-star fa-sm"></i>
          </span>
        </div>
      </div>
      <div class="restaurant-button-group d-flex container justify-content-end align-items-center p-0 mb-3">
        <a class="btn btn-warning m-1" href="/restaurants/{{ this._id }}/edit" role="button">Edit</a>
        <a class="btn btn-info m-1" href="/restaurants/{{ this._id }}" role="button">Detail</a>
        <button type="button" class="btn btn-danger m-1 deleteButton" data-toggle="modal"
          data-target="#deleteModal{{ this._id }}">Delete</button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal{{ this._id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">這是一個簡單的小提醒</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            確定要刪除 {{ this.name }} 嗎？
          </div>
          <div class="modal-footer">
            <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">是的，我確定</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">並沒有</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>